.link,
.link:hover,
.link:focus,
.link:focus-visible,
.link:active {
  display: inline-flex;
  line-height: 0;
  border: 0;
  outline: 0;
  background: none;
  box-shadow: none;
  text-decoration: none;
}

.link::before,
.link::after,
.link:hover::before,
.link:hover::after,
.link:focus::before,
.link:focus::after,
.link:focus-visible::before,
.link:focus-visible::after,
.link:active::before,
.link:active::after {
  display: none !important;
  content: none;
}
